$none: hsla(0, 0%, 0%, 1);
$white: hsla(0, 0%, 100%, 1);
$background: hsla(257, 10%, 10%, 1);
$light-background: hsla(0, 0%, 30%, 1);

$border-default: hsla(0, 0%, 10%, 1);
$text-default: hsla(0, 0%, 80%, 1);
$text-subtitle: rgb(135, 135, 135);

$window-background: hsla(257, 5%, 20%, 1);
$shop-background: hsla(210, 55%, 20%, 1);
$activity-background: hsla(133, 55%, 20%, 1);
