$none: hsla(0, 0%, 0%, 1);
$white: hsla(0, 0%, 100%, 1);
$background: hsla(257, 10%, 10%, 1);
$light-background: hsla(0, 0%, 30%, 1);

$border-default: hsla(0, 0%, 10%, 1);
$text-default: hsla(0, 0%, 80%, 1);
$text-alternate: rgba(200, 200, 200, 0.8);
$text-subtitle: rgb(135, 135, 135);

$window-background: hsla(257, 5%, 20%, 1);
$store-background: hsla(210, 55%, 20%, 1);
$activity-background: hsla(133, 55%, 20%, 1);
$adventure-background: hsla(316, 55%, 20%, 1);

$gold: rgb(224, 205, 103);
$diamond: rgb(53, 132, 201);

$health-off: rgb(121, 36, 36);
$stamina-off: rgb(34, 117, 52);
$mana-off: rgb(30, 57, 116);

$health: rgb(161, 50, 50);
$stamina: rgb(50, 161, 74);
$mana: rgb(50, 85, 161);
