@use './sizes' as *;
@use './colors' as *;

@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin window-default($color: $window-background) {
   position: absolute;
   width: 100%;
   height: 100%;
   padding: $s-2;
   background-color: $color;
}

@mixin no-interact {
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

@mixin flex-label {
   display: inline-flex;
   align-items: center;
   vertical-align: middle;
}

@mixin square($size) {
   height: $size;
   width: $size;
}

@mixin fill {
   height: 100%;
   width: 100%;
}

@mixin item-tooltip {
   position: absolute;
   z-index: 2;
   bottom: 26px;
   left: 0px;
   border: solid black $s-1;
   border-radius: $s-2;
   padding: $s-2;
   background-color: $window-background;
}
