@use './sizes' as *;

@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin page-default {
   position: absolute;
   width: 100%;
   height: 100%;
   padding: $s-2;
}

@mixin no-interact {
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

@mixin flex-label {
   display: inline-flex;
   align-items: center;
}

@mixin square($size) {
   height: $size;
   width: $size;
}
