@use './sizes' as *;
@use './colors' as *;

@mixin page-radius {
   border-radius: 0 $window-rad $window-rad $window-rad;
}

@mixin flex($horizontal, $vertival) {
   display: flex;
   align-items: $horizontal;
   justify-items: $vertival;
}
@mixin flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin set-size($width, $height) {
   height: $height;
   width: $width;
   min-height: $height;
   min-width: $width;
   max-height: $height;
   max-width: $width;
}

@mixin window-default($color: $window-background) {
   position: absolute;
   padding: 8px;
   background-color: $color;
   @include page-radius;
   @include fill;
}

@mixin no-interact {
   user-drag: none;
   -webkit-user-drag: none;
   user-select: none;
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

@mixin flex-label {
   display: inline-flex;
   align-items: center;
   vertical-align: middle;
}

@mixin square($size) {
   height: $size;
   width: $size;
}

@mixin fill {
   height: 100%;
   width: 100%;
}

@mixin item-tooltip {
   border: solid black 2px;
   border-radius: 4px;
   padding: 8px;
   background-color: $light-background;
}

@mixin grid-align {
   display: grid;
   align-items: center;
}

@mixin even-grid($rows, $cols) {
   display: grid;
   align-items: center;
   justify-items: center;
   justify-content: start;

   grid-template-rows: repeat($rows, auto);
   grid-template-columns: repeat($cols, auto);
}
