@use './theme' as *;

*,
*::before,
*::after {
   box-sizing: border-box;
   margin: 0;
   position: relative;
}

body {
   height: 100vh;
   line-height: 1.5;
   font-size: 16px;
   font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   user-select: none;

   color: $text-normal;
   background-color: $background-dark;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

input,
button,
textarea,
select {
   font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
}

#root,
#__next {
   isolation: isolate;
}
