:root {
   --s-base: 16px;

   --s-sxx: 0.125rem; /* 2px */
   --s-sx: 0.25rem; /* 4px */
   --s-sm: 0.5rem; /* 8px */

   --s-md: 0.75rem; /* 12px */

   --s-lg: 1.25rem; /* 20px */
   --s-lg2: 1.5rem; /* 24px */
   --s-lg3: 1.75rem; /* 28px */

   --s-xl: 2rem; /* 32px */
   --s-xl2: 2.5rem; /* 40px */
   --s-xl3: 3rem; /* 48px */
   --s-xl4: 3.5rem; /* 56px */
   --s-xl5: 4rem; /* 64px */
}
